---
title: debianutils release tarballs
---

<h2>release tarballs</h2>

<img src="/images/haskell-logo.png" style="float: right; margin: 10px;">

<p>This site is for non-Debian downstreams who prefer to consume releases in tarball form.</p>

<h2>Recent Releases</h2>
$partial("templates/post-list.html")$

<p>…or you can find more in the <a href="/archive.html">archives</a>.</p>
